@import "tailwindcss";

@theme {
    --font-sans: "Poppins", sans-serif;
    --font-mono: "Sorts Mill Goudy", monospace;
}

@layer base {
    html, body {
        @apply h-full;
    }
    body {
        @apply bg-white text-gray-800 antialiased text-sm flex flex-col;
    }
    button {
        @apply cursor-pointer;
    }
}